.Page2{
padding-top: 18px;
padding-left: 19px;
padding-right: 19px;
padding-bottom: 18px;
}
.parag1{
    font-size: 45px;
    color: gray ;
}
.parag2{
    font-size: 35px;
    color: gray ;
}
.aprop{
    text-align: center;
    width: 155px;
    height: 155px;
    padding-top: 54px;
    
}
.control{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 105px;
}

.colone33{
    padding: 18px;
    width:430px;
}