.Pages2{
    background: black;
}
.shop1{
    color: white;
    text-align: center;
    padding-top: 38px;
    font-size: 35px;
}
.shop2{
    color: white;
    text-align: center;
    padding-bottom: 38px;
    font-size: 20px;
}